@font-face {
  font-family: "iconfont"; /* Project id 3557568 */
  src: url('iconfont.woff2?t=1659699791542') format('woff2'),
       url('iconfont.woff?t=1659699791542') format('woff'),
       url('iconfont.ttf?t=1659699791542') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before {
  content: "\e8c4";
}

.icon-jiage:before {
  content: "\e63f";
}

.icon-search:before {
  content: "\e600";
}

.icon-arrowup:before {
  content: "\e7ee";
}

.icon-arrowdown:before {
  content: "\e7ef";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-gift:before {
  content: "\e6f9";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-cart-full:before {
  content: "\e746";
}

.icon-close:before {
  content: "\e747";
}

.icon-discount:before {
  content: "\e74c";
}

.icon-ellipsis:before {
  content: "\e74f";
}

.icon-leftarrow:before {
  content: "\e755";
}

.icon-pin:before {
  content: "\e75d";
}

.icon-Rightarrow:before {
  content: "\e761";
}

.icon-share:before {
  content: "\e764";
}

.icon-set:before {
  content: "\e76c";
}

.icon-calendar-fill:before {
  content: "\e779";
}

.icon-help:before {
  content: "\e782";
}

.icon-map:before {
  content: "\e786";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-usercenter:before {
  content: "\e7b4";
}

