header {
  height: 332px;
  background-color: #35b9b3;
  padding: 18px 14px 0;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.top img {
  height: 30px;
}
.top a {
  display: block;
  width: 90px;
  height: 30px;
  background-color: #fff;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  color: #35b9b3;
  line-height: 33px;
}
.bottom {
  display: flex;
  width: 348px;
}
.search {
  display: flex;
  width: 320px;
  height: 42px;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 22px;
}
.search .dropdown button {
  margin-left: 12px;
  padding-right: 8px;
  border-right: 1px solid #c0c4cf;
  background-color: #fff;
  font-size: 16px;
}
.search input::placeholder {
  color: #c0c4cf;
}
.search bottom {
  padding-right: 12px;
  color: #35b9b3;
  background-color: #fff;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.message i {
  font-size: 17px;
  padding: 3px;
}
.message p {
  margin: 0;
}
