/* 移动适配 */
/*  */


/* 媒体查询通常会作为公共样式引入 */
/* 1.使用媒体查询,根据不同的视口宽度,设置不同的根字号 */
@media(width:320px/*检测设备视口的宽 */){
    /* html标签(网页根标签) 设置HTML字号 */
    html{
        font-size: 32px;
    }
}/* 目前的rem布局方案中,将网页等分成10份,HTML标签字号为视口宽度的1/10 */
/* 2.书写盒子尺寸单位rem(使用rem,要先给HTML标签添加一个字号)*/
div{
    width: 1rem;  /*1rem=1HTML字号大小,宽1*32=32px,高2*32=64px */
    height: 2rem;
}
